.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100%;
  padding: 0.5rem;
}

.noTeamContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;

  max-width: 85%;
  min-width: 15rem;
  height: 8rem;

  background-color: black;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.5rem;

  z-index: 9;
}

.mySuperTeam {
  display: flex;
  gap: 1rem;
}
