.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.teamAverage {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    display: flex;
    gap: 1rem;
  }
}

.mySuperTeam {
  display: flex;
  gap: 1rem;

  .heroInTeam {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    min-width: 10rem;
  }
}

.seccBtnSort,
.teamAverage,
.tableResume,
.resumeSection {
  width: 100%;

  overflow-x: hidden auto !important;
}

.resumeSection {
  h2 {
    position: relative;
  }

  .tableResume {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    .rowResume {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      &:last-child {
        position: absolute;
        bottom: 0;
        transform: translateY(-15%);
        height: 2.5rem !important;
      }

      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 5rem;
        height: 5rem;

        text-align: center;
        padding: 0.25rem;
      }
      .powerStatImgContainer {
        text-transform: capitalize;
        border-radius: 50%;

        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 50%;
        border: 1px ridge rgba(255, 255, 255, 0.5);
        overflow: hidden;
        transition: all 0.25s;

        &:hover {
          filter: invert(1);
        }

        img,
        .statImg {
          width: 100%;
          object-fit: cover;
          fill: red;
          margin: auto;
          filter: invert(1);
        }
      }
      .powerStatResumeContainer {
        height: 2.5rem;
        span {
          display: grid;
          place-items: center;
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          background-color: black;
          cursor: pointer;
        }
      }
    }
  }
}
