.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100%;
  padding: 0.5rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.noTeamContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;

  max-width: 85%;
  min-width: 15rem;
  height: 8rem;

  background-color: black;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.5rem;

  z-index: 9;
  animation: 0.5s aparecer 1;
}

.mySuperTeam {
  display: flex;
  gap: 1rem;
}

.heightAndWeight {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  background-color: black;
  border: 1px solid white;
  border-radius: 1rem;

  padding: 0.5rem;
  gap: 0.35rem;
  font-size: smaller;

  p {
    display: flex;
    justify-content: center;
    font-size: small;
    span {
      flex: 1;
    }
  }
}
