.sortBtnSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  animation: 1s aparecer 1;

  button.sortBtn {
    justify-content: center;
    min-width: 6.5rem !important;
    border-width: 2px;

    &:hover {
      border: 2px solid rgb(255, 0, 0);
    }
    &.currentSort {
      border: 2px outset rgb(0, 255, 0) !important;
    }
    span {
      text-transform: capitalize;
    }

    svg {
      animation: 0.25s aparecer 1;
    }
  }
}
