.sortBtnSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  button.sortBtn {
    justify-content: space-around;
    min-width: 6rem !important;

    span {
      text-transform: capitalize;
    }
  }
}
