@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Thunder Lord";
  src: url("./fonts/Thunder\ Lord.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

span,
strong,
label,
button,
a {
  white-space: nowrap;
}

a,
.logo,
button,
button * {
  cursor: pointer;
}

input {
  cursor: text;
  text-align: center;
}

body {
  color: white;
  padding-top: 5rem;

  background: url("./bkg.webp") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  overflow: hidden scroll;
}

.header {
  .logo {
    font-family: "Thunder Lord", cursive;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.currentNav:not(.logoLink) {
  font-weight: bold;
  transition: all 1s;
  background: -webkit-linear-gradient(
    90deg,
    rgb(119, 255, 119) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 113, 113) 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

section {
  width: 100%;
  margin-bottom: 3.5rem !important;
  animation: 0.25s aparecer 1;
}

label,
input,
button:not(.userboard button, .heroCardActions) {
  padding: 0.5rem;
  border-radius: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.85);

  transition: all 0.5s;
}

button:not(.heroOptionBtn) {
  font-weight: bold;

  border: 1px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);

  &:hover,
  .workingButton {
    border-color: hsl(0, 0%, 0%);
    background: rgba(255, 255, 255, 0.9);
    color: hsl(0, 0%, 0%);
  }
  &.showSearchMenu,
  &.menuMobileBtn {
    background-color: black;
    border-color: white;

    &.activeMenu {
      background-color: white;
    }
  }
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.powerStatName {
  text-transform: capitalize;
}

.heroCard:hover {
  transform: scale(1.025);
}
