.searchHero {
  text-align: center;
  width: 100%;

  .hideSearchMenu {
    animation: 0.5s aparecer 1;
  }

  form {
    position: fixed;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border: 1px solid white;
    border-radius: 1rem;
    background-color: black;
    padding: 0.25rem;

    transition: all 1s;

    z-index: 99;

    .searchOptions {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &:hover {
        .showSearchMenu {
          background-color: white;
          svg {
            fill: black;
          }
        }
      }

      &:not(.showSearchMenu) {
        width: 10rem;
      }
    }

    &.searchMenuOff,
    &.searchMenuOn {
      overflow: hidden;
    }

    &.searchMenuOff {
      left: calc(95vw - 1rem);
      top: calc(95vh - 1rem);
      width: 3rem;

      label,
      input,
      .searchOptions > *:not(.showSearchMenu) {
        display: none;
      }
    }
    &.searchMenuOn {
      left: 50%;
      top: 50vh;
      width: 30rem;
      height: 5rem;
      padding: 0.5rem;

      .searchOptions > .showSearchMenu {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .searchMenuOff {
    top: 90% !important;
    left: 80% !important;
  }
}

@media only screen and (orientation: portrait) and (max-width: 768px) {
  .searchMenuOn {
    display: flex;
    flex-direction: column;
    height: fit-content !important;
    width: fit-content !important;
    .searchOptions {
      width: 100% !important;
    }
  }
}

@media only screen and (orientation: landscape) {
  .searchMenuOff {
    top: 85% !important;
    left: 85% !important;
  }
}
