.heroPowerStats {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 0;
  width: 100%;

  padding: 0.5rem;
  gap: 1rem 0.5rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);

  padding-bottom: 1.5rem;
}

.heroDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;

  margin: 1%;
  width: 98%;
  h2 {
    margin: 0.5rem;
  }

  button {
    border-width: 1px;

    &.remove {
      animation: 1s rotateBtn 1;
    }
    &.add {
      animation: 1s rotateBtn 1;
    }

    &.remove:hover {
      svg {
        fill: red !important;
      }
    }
    &.add:hover {
      svg {
        fill: green !important;
      }
    }
  }

  button:hover {
    border-width: 1px;
    transform: scale(1.1) !important;
    background-color: white;
  }

  .detailOptions {
    &Desktop,
    &Mobile {
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 100% !important;
    }
    &Desktop {
      display: none;
    }
  }

  .heroDetail_Head,
  .heroDetail_Body {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid hsla(0, 0%, 100%, 0.5);

    overflow: hidden;
  }
  .heroDetail_Body {
    min-height: 20rem;
  }

  h2,
  li {
    &:first-child {
      padding-top: 0.25rem;
    }
    &:not(.subList):not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
    }
  }

  .heroDetail {
    &_Head,
    &_Body {
      width: 100%;
      animation: 0.5s aparecer 1;
    }

    &_Body {
      display: flex;

      img.heroDetailImg {
        max-width: 45%;
        max-height: 40rem;
        object-fit: cover;
        border: 1px solid hsla(0, 0%, 100%, 0.5);
      }
      .sideData {
        width: 100%;
        & > ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;
          gap: 2.5%;
          overflow-y: auto;
          transition: all 1s;

          li {
            display: inline !important;
            width: 100%;
          }
        }
      }
    }
  }
}

.heroDetailContainer {
  .heroOptionBtn {
    min-width: 3.5rem;

    svg {
      transition: all 1s;
    }

    &.add {
      border-color: greenyellow !important;
      svg {
        fill: greenyellow;
      }
    }
    &.remove {
      border-color: red !important;
      svg {
        fill: red;
      }
    }
  }
}

@media (min-width: 568px) {
  .detailOptionsDesktop {
    display: flex !important;
    position: sticky;
    top: 10%;
    z-index: 99;
  }
  .detailOptionsMobile {
    display: none !important;
  }

  .sideData {
    & > ul {
      justify-content: center;
    }
  }
}
