@keyframes menuMobileShow {
  from {
    top: 0;
  }

  to {
    top: 5rem;
  }
}

.currentNav {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: white;
}

.homeUnique {
  .logoLink {
    margin-left: 50%;
    transform: translate(-50%);
  }
}

.header {
  position: fixed;
  top: 0rem !important;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;
  width: 100%;
  padding: 1rem;

  background: rgb(0, 0, 0);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  z-index: 999;

  .logoLink {
    transition: all 1s;
  }

  .navegacion {
    display: flex;
    align-items: center;
    transition: all 1s;

    .nav .navOptions {
      display: flex;
      height: 100%;
      align-items: center;
      gap: 1rem;
      margin-right: 1rem;
    }

    .navOptionSection:hover {
      text-decoration: underline;
      text-decoration-color: white;
    }

    .logOut div {
      display: flex;
      flex-direction: column;

      height: 100%;
    }
  }
}

.navegacionMobile {
  position: fixed;
  line-height: 2rem;
  padding: 0.25rem;

  text-align: center;

  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid white;
  transition: all 0.5s;
  z-index: 9;

  hr {
    margin: 0.25rem 0;
  }

  .userboard {
    display: flex;
    gap: 1rem;
    justify-content: center;
    button {
      padding: 5px;
    }
  }

  &.active {
    top: 3.5rem;
  }
  &.notActive {
    top: -5rem;
  }

  .navOptionsMobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .navOptionSectionMobile {
      margin: auto;
    }
  }
}

@media (min-width: 768px) {
  .navegacion > *:last-child,
  .navegacionMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .navegacion > *:not(:last-child) {
    display: none !important;
  }
}
