$cardColorBad: hsla(358, 100%, 31%, 0.45);
$heroBordersBad: 3px ridge $cardColorBad;

$cardColorGood: hsla(108, 100%, 31%, 0.45);
$heroBordersGood: 3px ridge $cardColorGood;

$white: #fcfcfc;
$black: #0e0000;

@keyframes searchIn {
  from {
    width: 3rem;
    height: 3rem;
  }
  to {
    width: 30rem;
    height: 5rem;
  }
}

@keyframes showFirst {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.searchHero {
  text-align: center;
  width: 100%;

  form {
    position: fixed;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border: 1px solid white;
    border-radius: 1rem;
    background-color: black;
    padding: 0.25rem;

    transition: all 1s;
    z-index: 9;

    .searchOptions {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      &:not(.showSearchMenu) {
        width: 10rem;
      }
    }

    &.searchMenuOff,
    &.searchMenuOn {
      overflow: hidden;
    }

    &.searchMenuOff {
      left: calc(95vw - 1rem);
      top: calc(95vh - 1rem);
      width: 3rem;
      animation: 0.5s 1 searchIn reverse;

      label,
      input,
      .searchOptions > *:not(.showSearchMenu) {
        display: none;
      }
    }
    &.searchMenuOn {
      left: 50%;
      top: 50vh;
      width: 30rem;
      height: 5rem;
      padding: 0.5rem;
      animation: 0.5s 1 searchIn;

      .searchOptions > .showSearchMenu {
        display: none;
      }
    }
  }
}

.loadingContainer {
  height: 2rem;
  color: $white;
}

.foundContainer {
  .cardsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.5rem;

    width: 100%;
    transition: all 1s;
  }

  h6 {
    margin-bottom: 1rem;
  }
}

.badHero {
  border: $heroBordersBad;
  background: $cardColorBad;
}

.goodHero {
  border: $heroBordersGood;
  background: $cardColorGood;
}

.heroCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;

  width: 18rem;
  height: 30rem;

  padding: 0.5rem 0;

  color: $white;
  border-radius: 3rem 1rem;

  cursor: default;
  overflow: hidden;
  animation: 0.25s showFirst 1;
  transition: all 1s;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    cursor: pointer;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  button:hover {
    transform: scale(1.1);
  }

  li {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
  }

  .heroCardActions {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
  }

  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    -ms-perspective: 1000px;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s ease-out;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    background-color: hsl(0, 100%, 3%);
  }

  .flip-card:active .flip-card-inner,
  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 100%, 3%, 0.5);
    transform: rotateY(180deg);
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .heroCard {
    max-width: 50%;
    height: 15rem;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .searchMenuOff {
    top: 90% !important;
    left: 90% !important;
  }
}

@media only screen and (orientation: portrait) and (max-width: 768px) {
  .heroCard {
    max-width: 8rem;
    height: 18rem;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .searchMenuOn {
    display: flex;
    flex-direction: column;
    height: fit-content !important;
    width: fit-content !important;
    .searchOptions {
      width: 100% !important;
    }
  }

  .searchMenuOff {
    top: 90% !important;
    left: 85% !important;
  }
}
